Source: fcitx
Section: utils
Priority: optional
Maintainer: IME Packaging Team <pkg-ime-devel@lists.alioth.debian.org>
Uploaders: Aron Xu <aron@debian.org>, LI Daobing <lidaobing@debian.org>,
  YunQiang Su <wzssyqa@gmail.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 8), cmake, intltool (>= 0.35.0),
    libdbus-1-dev (>= 1.1.0), libpango1.0-dev (>= 1.0), libcairo2-dev (>= 1.0),
    libdbus-glib-1-dev, libopencc-dev (>= 0.1.1~), libicu-dev,
    libgtk2.0-dev, libqt4-dev, libgtk-3-dev, libkvm-dev [kfreebsd-any]
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/fcitx/
Vcs-Git: git://git.debian.org/pkg-ime/fcitx.git
Vcs-Browser: http://git.debian.org/?p=pkg-ime/fcitx.git

Package: fcitx
Architecture: all
Depends: ${misc:Depends}, fcitx-bin, fcitx-data, fcitx-modules,
    fcitx-module-x11, fcitx-ui-classic
Recommends: fcitx-pinyin, fcitx-googlepinyin | fcitx-sunpinyin, 
    fcitx-table-wubi | fcitx-table-wbpy, fcitx-config-gtk,
    fcitx-frontend-gtk2, fcitx-frontend-gtk3, fcitx-frontend-qt4,
    im-config (>= 0.5) | im-switch
Suggests: fcitx-tools
Description: Flexible Input Method Framework
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This metapackage pulls in a set of components recommended for most desktop
 users.

Package: fcitx-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: fcitx-data, fcitx-modules
Suggests: fcitx (>= 1:4.1.2)
Replaces: fcitx (<< 1:4.1.2)
Breaks: fcitx (<< 1:4.1.2)
Description: Flexible Input Method Framework - essential binaries
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This package provides the essential executable binaries. If you are
 looking for a working input experience, please install the package 
 "fcitx" instead.

Package: fcitx-data
Architecture: all
Depends: ${misc:Depends}
Recommends: fcitx-bin
Suggests: fcitx (>= 1:4.1.2)
Replaces: fcitx (<< 1:4.1.2)
Breaks: fcitx (<< 1:4.1.2)
Description: Flexible Input Method Framework - essential data files
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This package provides the essential data files. If you are looking for a
 working input experience, please install the package "fcitx" instead.

Package: fcitx-libs
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: fcitx (>= 1:4.1.2)
Replaces: fcitx (<< 1:4.1.2)
Breaks: fcitx (<< 1:4.1.2)
Description: Flexible Input Method Framework - library files
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This package contains three libraries:
  * libfcitx-core - core functions of Fcitx
  * libfcitx-config - support library for Fcitx configurations
  * libfcitx-utils - utility support library for Fcitx

Package: fcitx-libs-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, fcitx-libs (= ${binary:Version})
Replaces: fcitx (<< 1:4.1.2)
Breaks: fcitx (<< 1:4.1.2)
Description: Flexible Input Method Framework - library development files
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This package provides the library development files.

Package: fcitx-libs-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, fcitx-libs (= ${binary:Version})
Replaces: fcitx (<< 1:4.1.2)
Breaks: fcitx (<< 1:4.1.2)
Description: Flexible Input Method Framework - library debugging symbols
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This package provides the library debugging symbols.

Package: fcitx-ui-kimpanel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fcitx (>= 1:4.1.2),
    fcitx-module-dbus
Replaces: fcitx (<< 1:4.1.2)
Breaks: fcitx (<< 1:4.1.2)
Suggests: plasma-widgets-addons
Description: Flexible Input Method Framework - KIMPanel user interface
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This package provides the KIMPanel user interface of Fcitx, which is a
 good choice for KDE4 users. Also it implements a protocol to talk with
 D-Bus, so it might be needed by other desktop environment users like
 GNOME Shell and Unity.

Package: fcitx-ui-classic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fcitx-module-x11
Recommends: fcitx (>= 1:4.1.2)
Replaces: fcitx (<< 1:4.1.2)
Breaks: fcitx (<< 1:4.1.2)
Description: Flexible Input Method Framework - Classic user interface
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This package provides the classic user interface, which is suitable 
 for most users. It also provides the following skins:
  * classic: Fcitx 3.x classic skin ported to new infrastructure
  * dark: the dark skin fits for dark desktop theme
  * default: the default skin

Package: fcitx-frontend-all
Architecture: all
Depends: ${misc:Depends}, fcitx-frontend-gtk2, fcitx-frontend-gtk3, 
    fcitx-frontend-qt4, fcitx-module-x11, fcitx-module-dbus
Description: Flexible Input Method Framework - frontends metapackage
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This metapackage pulls in the following frontends:
  * XIM protocol client
  * GTK+ 2/3 IM Module
  * QT 4 IM Module
  * IPC frontend (based on D-Bus, used by various IM Modules)

Package: fcitx-frontend-gtk2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fcitx-module-dbus
Recommends: fcitx-frontend-gtk3
Description: Flexible Input Method Framework - GTK+ 2 IM Module frontend
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This package provides the GTK+ 2 IM Module frontend, which is
 recommended for all desktop users.

Package: fcitx-frontend-gtk3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fcitx-module-dbus
Recommends: fcitx-frontend-gtk2
Description: Flexible Input Method Framework - GTK+ 3 IM Module frontend
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This package provides the GTK+ 3 IM Module frontend, which is
 recommended for all desktop users. This is the best solution if you are
 looking for a better input experience with GTK+ 3 applications.

Package: fcitx-frontend-qt4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fcitx-module-dbus
Description: Flexible Input Method Framework - QT 4 IM Module frontend
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This package provides the QT 4 IM Module frontend, which is recommended
 for KDE4 desktop users.

Package: fcitx-pinyin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fcitx-bin,
  fcitx-data (>= 1:4.1.2), fcitx-modules
Recommends: fcitx (>= 1:4.1.2)
Replaces: fcitx (<< 1:4.1.2)
Breaks: fcitx (<< 1:4.1.2)
Description: Flexible Input Method Framework - classic Pinyin engine
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This package provides the classic Pinyin input method, which features
 very short responding time by reading all words into RAM during
 activation. 

Package: fcitx-qw
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fcitx (>= 1:4.1.2)
Replaces: fcitx (<< 1:4.1.2)
Breaks: fcitx (<< 1:4.1.2)
Description: Flexible Input Method Framework - QuWei engine
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This package provides the QuWei input method.

Package: fcitx-table
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fcitx (>= 1:4.1.2), fcitx-pinyin (>= 1:4.1.2)
Replaces: fcitx (<< 1:4.1.2)
Breaks: fcitx (<< 1:4.1.2)
Description: Flexible Input Method Framework - table engine
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This package provides the table engine. By using this engine, Fcitx can
 support a large number of table-based input methods such as Wubi,
 WubiPinyin, etc. 

Package: fcitx-table-all
Architecture: all
Depends: ${misc:Depends}, fcitx-table-bingchan, fcitx-table-cangjie, 
    fcitx-table-dianbaoma, fcitx-table-erbi, fcitx-table-wanfeng, 
    fcitx-table-wbpy, fcitx-table-wubi, fcitx-table-ziranma
Description: Flexible Input Method Framework - tables metapackage
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This metapackage pulls in the following tables:
  * Cangjie
  * Dianbaoma
  * Erbi
  * Bingchan
  * Wanfeng
  * WubiPinyin
  * Wubi
  * Ziranma

Package: fcitx-table-bingchan
Architecture: any
Depends: ${misc:Depends}, fcitx-table
Description: Flexible Input Method Framework - Bingchan table
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 . 
 This package provides Bingchan table used by the Fcitx table engine.

Package: fcitx-table-cangjie
Architecture: any
Depends: ${misc:Depends}, fcitx-table
Description: Flexible Input Method Framework - Cangjie table
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 . 
 This package provides Cangjie table used by the Fcitx table engine.

Package: fcitx-table-dianbaoma
Architecture: any
Depends: ${misc:Depends}, fcitx-table
Description: Flexible Input Method Framework - Dianbaoma table
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 . 
 This package provides Dianbaoma table used by the Fcitx table engine.

Package: fcitx-table-erbi
Architecture: any
Depends: ${misc:Depends}, fcitx-table
Description: Flexible Input Method Framework - Erbi table
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 . 
 This package provides Erbi table used by the Fcitx table engine.

Package: fcitx-table-wanfeng
Architecture: any
Depends: ${misc:Depends}, fcitx-table
Description: Flexible Input Method Framework - Wanfeng table
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 . 
 This package provides Wanfeng table used by the Fcitx table engine.

Package: fcitx-table-wbpy
Architecture: any
Depends: ${misc:Depends}, fcitx-table
Description: Flexible Input Method Framework - WubiPinyin table
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 . 
 This package provides WubiPinyin table used by the Fcitx table engine.

Package: fcitx-table-wubi
Architecture: any
Depends: ${misc:Depends}, fcitx-table
Description: Flexible Input Method Framework - Wubi table
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 . 
 This package provides Wubi table used by the Fcitx table engine.

Package: fcitx-table-ziranma
Architecture: any
Depends: ${misc:Depends}, fcitx-table
Description: Flexible Input Method Framework - Ziranma table
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 . 
 This package provides Ziranma table used by the Fcitx table engine.

Package: fcitx-modules
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: fcitx (>= 1:4.1.2), fcitx-module-vk, fcitx-module-x11, 
 fcitx-module-dbus
Replaces: fcitx (<< 1:4.1.2)
Breaks: fcitx (<< 1:4.1.2)
Description: Flexible Input Method Framework - core modules
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 . 
 This metapackage pulls in the following modules:
  * autoeng: automatically change to English mode while inputing specific string
  * chttrans: convert Simplified Chinese text to Traditional (libopencc backend)
  * fullwidthchar: full-width character input support
  * punc: punctuation conversion support
  * quickphrase: conveniently input English or from user-defined simple table
  * remote: change Fcitx state from terminal (used by fcitx-remote command)

Package: fcitx-module-dbus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fcitx-modules
Description: Flexible Input Method Framework - D-Bus module and IPC frontend
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This package provides the D-Bus module and IPC frontend which are directly
 used by various IM Modules and UIs like KIMPanel support for instance.

Package: fcitx-module-x11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fcitx-modules
Description: Flexible Input Method Framework - X11 module and XIM frontend
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This package provides the X11 module, X11 utilities used by other addons
 such as fcitx-ui-classic, and is required for all desktop users. An Xlibs
 based virtual keyboard module has been also included in this package for
 it's an obvious feature needed by many desktop users.
 .
 XIM frontend (client) is placed in this package too because of its nature
 of being the basic input protocol supported by X. 

Package: fcitx-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: fcitx
Replaces: fcitx (<< 1:4.0.0)
Breaks: fcitx (<< 1:4.0.0)
Description: Flexible Input Method Framework - various tools
 Fcitx is a input method framework with extension support, which provides
 an interface for entering characters of different scripts in applications
 using a variety of mapping systems. 
 .
 It offers a pleasant and modern experience, with intuitive graphical
 configuration tools and customizable skins and mapping tables. It is
 highly modularized and extensible, with GTK+ 2/3 and Qt4 IM Modules, support
 for UIs based on Fbterm, pure Xlib, GTK+, or KDE, and a developer-friendly
 API.
 .
 This package provides the following tools:
  * createPYMB: create a Pinyin data file (.mb)
  * mb2org: convert a .mb data file to .org file
  * mb2txt: convert a .mb data file to text file
  * readPYBase: read Pinyin base file
  * readPYMB: read Pinyin data file (.mb)
  * scel2org: convert scel data file (Sougou) to .org file
  * txt2mb: convert text file to .mb data file
