#!/usr/bin/make -f
include debian/variables.mk
%:
	dh $@
override_dh_auto_configure: gen_control
	dh_auto_configure -- \
	    -DLIB_INSTALL_DIR=/usr/lib/$(DEB_HOST_MULTIARCH) \
	    -DENABLE_CAIRO=ON \
	    -DENABLE_DBUS=ON \
	    -DENABLE_PANGO=ON \
	    -DENABLE_DEBUG=ON \
	    -DENABLE_TABLE=ON \
	    -DENABLE_STATIC=ON \
	    -DENABLE_GTK2_IM_MODULE=ON \
	    -DENABLE_GTK3_IM_MODULE=ON \
	    -DENABLE_QT_IM_MODULE=ON \
	    -DENABLE_OPENCC=ON
override_dh_makeshlibs:
	dh_makeshlibs -pfcitx-libs
override_dh_strip:
	dh_strip --dbg-package=fcitx-dbg
gen_control:
	include debian/control.mk
